

    p {
      color: orange;
      text-align: center;
    }

    h1 {
      text-align: center;
      color: orange;
      font: Optima, sans-serif;
    }

    body {
      background-color: rgb(126, 130, 133);
    }
    

    .image-cropper {
      width: 150px;
      height: 150px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

    .profile-pic {
      display: inline;
      margin: 0 auto;
      margin-left: 0%;
      height: 100%;
      width: auto;
    }

    .navigation {
      background: linear-gradient(to right, rgb(215, 216, 194), rgb(228, 228, 214));
      padding: 1rem 0 2rem 0;
      position: static;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 19%;
    }

    .navigationgroup {
      padding-left: 50rem;
    }

    div {
      display: block;
    }
    .EQ{
  color: orange;
  text-align: center;
  align-items: center;
}
    a {
      color: black;
      text-decoration-color: transparent;
      margin-right: 2em;
      transition: text-decoration-color500ms;
      cursor: pointer;
    }

    .center {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 35%;
    }
 
    @media (min-width: 320px) {
      body{
        background-color: rgb(160, 115, 122);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: medium;
      }
      .navigation {
        float: none;
        width: 100%;
      }
      .column {
        width: 100%;
      }
      div.example {
        font-size: 30px;
      }
      div.example {
        font-size: 80px;
      }
    }

    @media(min-width: 768px) {
        body{
          background-color:rgb(150, 137, 62);
          font-family: cursive;
          font-size: 20px;
          color:hsl(256, 48%, 5%)
        }
        .row {
          flex-direction: column;
        }
        .column {
          flex: 50%;
        }
      
    @media(min-width: 1024px) {
            body{
              background-color:rgb(21, 98, 117);
              font-family: Arial, Helvetica, sans-serif;
              font-size: 25px;
              color:hsl(165, 9%, 9%)
            }
            .row {
              flex-direction: column;
            }
            .column {
              flex: 50%;
            }
          }
        }